<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <settings>
      <setting name="jdbcTypeForNull" value="NULL"/>
   </settings>

	<typeAliases>
		<typeAlias type="com.kh.yc.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.yc.admin.model.vo.Report" alias="Report"/>
		<typeAlias type="com.kh.yc.admin.model.vo.Project" alias="Project"/>
		<typeAlias type="com.kh.yc.member.model.vo.NaverMember" alias="Naver"/>
		<typeAlias type="com.kh.yc.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.yc.board.model.vo.Comment" alias="Comment"/>
		<typeAlias type="com.kh.yc.project.model.vo.Project" alias="Project2"/>
		<typeAlias type="com.kh.yc.reward.model.vo.Reward" alias="Reward"/>
		<typeAlias type="com.kh.yc.reward.model.vo.RewardInfo" alias="RewardInfo"/>
		<typeAlias type="com.kh.yc.funding.model.vo.Attachment" alias="Attachment"/>
		<typeAlias type="com.kh.yc.funding.model.vo.Funding" alias="Funding"/>
		<typeAlias type="com.kh.yc.payment.model.vo.Payment" alias="Payment"/>
		<typeAlias type="com.kh.yc.delivery.model.vo.Delivery" alias="Delivery"/>
	<typeAlias type="com.kh.yc.project.model.vo.OpenAlarm" alias="OpenAlarm"/>
	<typeAlias type="com.kh.yc.reward.model.vo.ExcelReward" alias="ExcelReward"/>
</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/report-mapper.xml"/>
		<mapper resource="mappers/project-mapper.xml"/>
		<mapper resource="mappers/navermember-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/project2-mapper.xml"/>
		<mapper resource="mappers/reward-mapper.xml"/>
		<mapper resource="mappers/attachment-mapper.xml"/>
		<mapper resource="mappers/excelReward-mapper.xml"/>
	</mappers>
	
	
</configuration>
	