<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExcelReward">
	<resultMap type="com.kh.yc.reward.model.vo.ExcelReward"
		id="ExcelRewardResultSet">
		<id property="PROJECT_NO" column="PROJECT_NO" />
		<result property="PROJECT_SHORT_TITLE" column="PROJECT_SHORT_TITLE" />
		<result property="MEMBER_NAME" column="MEMBER_NAME" />
		<result property="REWARD_MONEY" column="REWARD_MONEY" />
		<result property="REWARD_NAME" column="REWARD_NAME" />
		<result property="OPTIONS" column="OPTIONS" />
		<result property="DELIVERY_REQUEST" column="DELIVERY_REQUEST" />
		<result property="DELIVERY_MONEY" column="DELIVERY_MONEY" />
		<result property="START_DATE" column="START_DATE" />
		<result property="CONPANY_NAME" column="CONPANY_NAME" />
		<result property="FUND_NO" column="FUND_NO" />
		<result property="ADJUST_STATE" column="ADJUST_STATE" />
	</resultMap>
	
	
	<update id="updateExcel" parameterType="ExcelReward">
			UPDATE ADJUST
			SET ADJUST_STATE = #{ADJUST_STATE}
	</update>
</mapper>


