<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExcelReward">
	<resultMap type="com.kh.yc.reward.model.vo.ExcelReward"
		id="ExcelRewardResultSet">
		<id property="projectNo" column="PROJECT_NO" />
		<result property="projectShortTitle" column="PROJECT_SHORT_TITLE" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="rewardMoney" column="REWARD_MONEY" />
		<result property="rewardName" column="REWARD_NAME" />
		<result property="options" column="OPTIONS" />
		<result property="deliveryStatus" column="DELIVERY_REQUEST" />
		<result property="deliveryMoney" column="DELIVERY_MONEY" />
		<result property="startDate" column="START_DATE" />
		<result property="companyName" column="CONPANY_NAME" />
		<result property="fundNo" column="FUND_NO" />
		<result property="adjustState" column="ADJUST_STATE" />
		<result property="adjustNo" column="ADJUST_NO" />
		
	</resultMap>
	
	
	<update id="updateExcel" parameterType="java.util.ArrayList" >
			UPDATE ADJUST
			SET ADJUST_STATE = 
		
		 <foreach collection="list" item="item" separator='","'>

        (

        #{item.ADJUST_STATE}

        )

        </foreach> 
        
			WHERE PROJECT_NO = 
		 <foreach collection="list" item="item" separator='","'>

        (

        #{item.PROJECT_NO}

        )
		
		</foreach> 
		 AND ADJUST_NO = 
 		<foreach collection="list" item="item" separator='","'>

        (

        #{item.ADJUST_NO}

        )
		
		</foreach> 
		AND PAY_NO = 
 		<foreach collection="list" item="item" separator='","'>

        (

        #{item.PAY_NO}

        )
		
		</foreach> 
	</update>
</mapper>


