<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
<resultMap type="com.kh.yc.member.model.vo.Member" id="memberResultSet">

   <id property="userNo" column="MEMBER_NO"/>
      <result property="userId" column="MEMBER_ID"/>
      <result property="userPwd" column="MEMBER_PASSWORD"/>
      <result property="userName" column="MEMBER_NAME"/>
      <result property="email" column="EMAIL"/>
      <result property="ssn" column="SSN"/>
      <result property="companyName" column="COMPANY_NAME"/>
      <result property="account" column="ACCOUNT"/>
      <result property="gender" column="GENDER"/>
      <result property="memberCategory" column="MEMBER_CATEGORY"/>
       <result property="point" column="POINT"/>
      <result property="age" column="AGE"/>
      <result property="status" column="STATUS"/>
      <result property="memberDiv" column="MEMBER_DIV"/>   
      <result property="emailAgree" column="EMAIL_AGREE"/>      
         </resultMap>
      <select id="loginCheck" resultMap="memberResultSet" parameterType="Member">
      SELECT *
      FROM MEMBER
      WHERE MEMBER_ID = #{userId}
      AND MEMBER_PASSWORD = #{userPwd}
   
   </select>
   <insert id="insertMember" parameterType="Member">
   <if test="gender !=null and memberCategory!=null and  age !=null and emailAgree !=null" >
      INSERT INTO MEMBER
      VALUES( SEQ_MEMBER.NEXTVAL,#{userName},#{userId}, #{userPwd}, #{email},default,null,null,null,#{gender},null,
      1000,#{age},default,#{emailAgree})
</if>
   <if test="gender ==null or memberCategory==null or age==null or emailAgree==null" >
      INSERT INTO MEMBER
      VALUES( SEQ_MEMBER.NEXTVAL,#{userName},#{userId}, #{userPwd}, #{email},default,null,null,null,null,null,
      0,null,default,'N')
</if>


   </insert>

   
   
   
      <select id="selectPwd" parameterType="java.lang.String" resultType="java.lang.String">
      SELECT MEMBER_PASSWORD
      FROM MEMBER
      WHERE MEMBER_ID = #{userId}
   </select>

      
   <select id="selectLoginUser" parameterType="Member" resultMap="memberResultSet">
      SELECT *
      FROM MEMBER
      WHERE MEMBER_ID = #{userId}
      	AND STATUS = 'N'
   </select>   


   <select id="memberList" resultMap="memberResultSet">
      SELECT *
      FROM MEMBER
   </select>
   
   <select id="viewMember" resultMap="memberResultSet">
      SELECT *
      FROM MEMBER
      WHERE MEMBER_NO= #{userNo}
   </select>
   
   <select id="updateMember" resultMap="memberResultSet">
      UPDATE MEMBER
      SET STATUS = #{status}
      WHERE MEMBER_NO= #{userNo}
   </select>
   
   <select id="findId" parameterType="String" resultType="String">
      SELECT MEMBER_ID
      FROM MEMBER
      WHERE EMAIL= #{email}
   </select>

      <select id="newPwd" resultMap="memberResultSet">
      UPDATE MEMBER
      SET MEMBER_PASSWORD = #{userPwd}
      WHERE EMAIL= #{email}
   </select>

	<select id="countId" parameterType="String" resultType="Integer">
	SELECT COUNT(*)
	FROM MEMBER
	WHERE MEMBER_ID= #{userId} 
	</select>


	<select id="emailList" resultMap="memberResultSet">
	SELECT *
	FROM MEMBER
	WHERE EMAIL_AGREE='Y'

	</select>

   	<select id="paySuccessMember" resultMap="memberResultSet">
		select 
			f.member_no 
		from 
			project P, FUND F
		where
		    P.PROJECT_NO = F.PROJECT_NO
		AND
		    to_char(end_date, 'yyyy-mm-dd') =  to_char(sysdate, 'yyyy-mm-dd')
		and
		    p.progress_status = '성공'
	</select>
	
	<update id="updateAdjust">
		UPDATE
			MEMBER
		<set>
			<if test="ssn != null">
				SSN = #{ssn},
			</if>
<!-- 			<if test="agentName != null">
				AGENT_NAME = #{agentName},
			</if>
			<if test="agentEmail != null">
				AGENT_EMAIL = #{agentEmail}
			</if> -->
		</set>
		WHERE
			MEMBER_NO = #{userNo}
	</update>
	<select id="selectMemberInfo" resultMap="memberResultSet">
		SELECT
			*
		FROM
			MEMBER
		WHERE
			MEMBER_NO = #{userNo}
	</select>
	
	<update id="updateMemberCompanyName" parameterType="Member">
		UPDATE MEMBER
		SET 
		COMPANY_NAME = #{companyName}
		WHERE MEMBER_NO = #{userNo}
		
	</update>
</mapper>
