<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Project2">
	<resultMap type="com.kh.yc.project.model.vo.Project" id="ProjectList">
		<id property="projectNo" column="PROJECT_NO"/>
		<result property="category" column="CATEGORY"/>
		<result property="success" column="SUCCESS"/>
		<result property="judgeStatus" column="JUDGE_STATUS"/>
		<result property="progressStatus" column="PROGRESS_STATUS"/>
		<result property="agreement" column="AGREEMENT"/>
		<result property="reason" column="REASON"/>
		<result property="adminNo" column="ADMIN_NO"/>
		<result property="summary" column="SUMMARY"/>
		<result property="prifileImg" column="PROFILE_IMG"/>
		<result property="social" column="SOCIAL"/>
		<result property="site" column="SITE"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="fees" column="FEES"/>
		<result property="makerDiv" column="MAKER_DIV"/>
		<result property="agentName" column="AGENT_NAME"/>
		<result property="agentEmail" column="AGENT_EMAIL"/>
		<result property="projectTitle" column="PROJECT_TITLE"/>
		<result property="projectShortTitle" column="PROJECT_SHORT_TITLE"/>
		<result property="money" column="MONEY"/>
		<result property="mainImg" column="MAIN_IMG"/>
		<result property="document" column="DOCUMENT"/>
		<result property="progress" column="PROGRESS"/>
		<result property="delivery" column="DELIVERY"/>
		<result property="endDate" column="END_DATE"/>
		<result property="adult" column="ADULT"/>
		<result property="expected" column="EXPECTED"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="companyName" column="COMPANY_NAME"/>
	</resultMap>

	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM PROJECT
	</select>
	
	<select id="selectProjectList" parameterType="java.util.Map" resultMap="ProjectList">
		SELECT  P.PROJECT_NO, P.PROJECT_TITLE,P.MONEY,M.COMPANY_NAME,P.END_DATE
		FROM    PROJECT P
		JOIN    MEMBER M ON (P.MEMBER_NO = M.MEMBER_NO)
		ORDER BY PROJECT_NO DESC
	</select> 
	<select id="getProject" resultMap="ProjectList">
	    SELECT
	        *
	    FROM (
	        SELECT
				PROJECT_NO, CATEGORY, SUMMARY, PROJECT_TITLE, RANK() OVER (ORDER BY PROJECT_NO DESC) RANK
			FROM
				PROJECT P
			WHERE
				JUDGE_STATUS = '통과')
		<!-- [CDATA[
		WHERE
			RANK < 5
		]]-->
	</select>

	<select id="detailProject" resultMap="ProjectList" parameterType="java.lang.Integer">
		SELECT P.PROJECT_NO, P.CATEGORY ,P.SUMMARY , P.PROFILE_IMG , P.SOCIAL,
		P.SITE, P.EMAIL, P.PHONE, P.FEES, P.MAKER_DIV, P.AGENT_NAME, P.AGENT_EMAIL,
		P.PROJECT_TITLE, P.PROJECT_SHORT_TITLE, P.MONEY, P.MAIN_IMG, P.DELIVERY,
		M.COMPANY_NAME,P.END_DATE,P.MEMBER_NO,P.JUDGE_STATUS,P.PROGRESS_STATUS
		FROM PROJECT P
		JOIN MEMBER M ON (P.MEMBER_NO = M.MEMBER_NO)
		WHERE PROJECT_NO = #{projectNo}
	</select>
	
	<select id="selectProjectList2" resultMap="ProjectList" parameterType="java.util.Map">
	SELECT P.PROJECT_NO, P.PROJECT_TITLE,P.MONEY,M.COMPANY_NAME,P.END_DATE,P.MEMBER_NO,P.JUDGE_STATUS,P.PROGRESS_STATUS
	FROM PROJECT P
	JOIN MEMBER M ON (P.MEMBER_NO = M.MEMBER_NO)
	ORDER BY PROJECT_NO DESC 
	</select>

	<select id="selectSupportList" resultMap="ProjectList" parameterType="java.util.Map">
	SELECT P.PROJECT_NO, P.PROJECT_TITLE,P.MONEY,M.COMPANY_NAME,P.END_DATE,M.MEMBER_NO
	FROM PROJECT P
	JOIN MEMBER M ON (P.MEMBER_NO = M.MEMBER_NO)
	WHERE P.PROJECT_NO=#{projectNo}
	</select>

</mapper>