<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Reward">
	<resultMap type="com.kh.yc.reward.model.vo.Reward"
		id="RewardResultSet">
		<id property="rewardNo" column="REWARD_NO" />
		<result property="rewardMoney" column="REWARD_MONEY" />
		<result property="sortNo" column="SORT_NO" />
		<result property="rewardName" column="REWARD_NAME" />
		<result property="option" column="OPTIONS" />
		<result property="deliveryRequest" column="DELIVERY_REQUEST" />
		<result property="deliveryMoney" column="DELIVERY_MONEY" />
		<result property="limitCount" column="LIMIT_COUNT" />
		<result property="startDate" column="START_DATE" />
		<result property="projectNo" column="PROJECT_NO" />
		<result property="projectShortTitle" column="PROJECT_SHORT_TITLE" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="money" column="MONEY" />
		<result property="description" column="DESCRIPTION" />
		<result property="userNo" column="MEMBER_NO" />
		<result property="fundDate" column="FUND_DATE" />
		<result property="fundNo" column="FUND_NO" />
		<result property="fundMoney" column="FUND_MONEY" />
		<result property="account" column="ACCOUNT" />
		<result property="category" column="CATEGORY" />
		<result property="categoryDiv" column="CATEGORY_DIV" />
		<result property="endDate" column="END_DATE" />
		<result property="projectTitle" column="PROJECT_TITLE" />
		<result property="companyName" column="COMPANY_NAME" />
		<result property="deliverySite" column="DELIVERY_SITE" />
		<result property="deliveryMoney" column="DELIVERY_MONEY" />
		<result property="options" column="OPTIONS" />
		<result property="payStatus" column="PAY_STATUS" />
		<result property="rewardDetail" column="REWARD_DETAIL" />
	</resultMap>
	<resultMap type="Reward" id="MyRewardResultSet">
		<id property="rewardNo" column="REWARD_NO" />
		<result property="rewardMoney" column="REWARD_MONEY" />
		<result property="sortNo" column="SORT_NO" />
		<result property="rewardName" column="REWARD_NAME" />
		<result property="option" column="OPTIONS" />
		<result property="deliveryRequest" column="DELIVERY_REQUEST" />
		<result property="deliveryMoney" column="DELIVERY_MONEY" />
		<result property="limitCount" column="LIMIT_COUNT" />
		<result property="startDate" column="START_DATE" />
		<result property="projectNo" column="PROJECT_NO" />
		<result property="rewardCategory" column="REWARD_CATEGORY" />
		<result property="rewardDetail" column="REWARD_DETAIL" />
	</resultMap>	
	<select id="viewReward" resultMap="RewardResultSet">
		SELECT *
		FROM REWARD
		WHERE
		PROJECT_NO= #{projectNo}
	</select>
	<select id="selectMyReward" resultMap="RewardResultSet" parameterType="java.util.Map">
		SELECT M.MEMBER_NO, F.FUND_DATE, F.FUND_NO, PJ.PROJECT_NO, R.REWARD_NO, M.ACCOUNT,
				PJ.CATEGORY, C.CATEGORY_DIV, PJ.END_DATE, PJ.PROJECT_TITLE, M.COMPANY_NAME,
				D.DELIVERY_SITE, R.DELIVERY_MONEY, R.START_DATE, R.OPTIONS, R.REWARD_MONEY, 
				DS.INVOICE_NUMBER, M.POINT
		FROM MEMBER M
		LEFT JOIN FUND F ON(M.MEMBER_NO = F.MEMBER_NO)
		LEFT JOIN REWARD R ON(F.REWARD_NO = R.REWARD_NO)
		LEFT JOIN PROJECT PJ ON(R.PROJECT_NO = PJ.PROJECT_NO)
		LEFT JOIN PAYMENT P ON(F.FUND_NO = P.FUND_NO)
		LEFT JOIN DELIVERY_STATUS DS ON(P.PAY_NO = DS.PAY_NO)
		LEFT JOIN DELIVERY D ON(DS.DELIVERY_NO = D.DELIVERY_NO)
		LEFT JOIN CATEGORY C ON(C.CATEGORY = PJ.CATEGORY)
		WHERE M.MEMBER_NO = #{ userNo }

	</select>
	<select id="selectMyRewardDetail" resultMap="RewardResultSet" parameterType="java.util.Map">
		SELECT M.MEMBER_NO, F.FUND_DATE, F.FUND_NO, PJ.PROJECT_NO, R.REWARD_NO, M.ACCOUNT,
				PJ.CATEGORY, C.CATEGORY_DIV, PJ.END_DATE, PJ.PROJECT_TITLE, M.COMPANY_NAME,
				D.DELIVERY_SITE, R.DELIVERY_MONEY, R.START_DATE, R.OPTIONS, R.REWARD_MONEY, 
				DS.INVOICE_NUMBER, M.POINT
		FROM MEMBER M
		LEFT JOIN FUND F ON(M.MEMBER_NO = F.MEMBER_NO)
		LEFT JOIN REWARD R ON(F.REWARD_NO = R.REWARD_NO)
		LEFT JOIN PROJECT PJ ON(R.PROJECT_NO = PJ.PROJECT_NO)
		LEFT JOIN PAYMENT P ON(F.FUND_NO = P.FUND_NO)
		LEFT JOIN DELIVERY_STATUS DS ON(P.PAY_NO = DS.PAY_NO)
		LEFT JOIN DELIVERY D ON(DS.DELIVERY_NO = D.DELIVERY_NO)
		LEFT JOIN CATEGORY C ON(C.CATEGORY = PJ.CATEGORY)
		WHERE R.REWARD_NO = #{ rewardNo } 

	</select>
    
    <insert id="insertReward" parameterType="Reward">
		INSERT INTO REWARD 
		VALUES (
				SEQ_REWARDNO.NEXTVAL,
				#{rewardMoney},
				#{sortNo},
				#{rewardName},
				#{option},
				#{deliveryRequest},
				#{deliveryMoney},
				#{limitCount},
				#{startDate},
				#{projectNo},
				#{category},
				#{rewardDetail}
			   )
	<selectKey resultType="integer" keyProperty="rewardNo" order="AFTER"> 
        SELECT SEQ_REWARDNO.CURRVAL FROM DUAL        
    </selectKey>
	</insert>
    
	
	<select id="selectReward" resultMap="RewardResultSet" parameterType="Reward">
		SELECT *
		FROM REWARD
		WHERE PROJECT_NO = #{projectNo}
		AND REWARD_NO = #{rewardNo}
		AND SORT_NO = #{sortNo}
	</select>
	
	<update id="updateReward" parameterType="Reward">
			UPDATE REWARD
			SET REWARD_MONEY = #{rewardMoney},
			    REWARD_NAME = #{rewardName},
			    SORT_NO = #{sortNo},
			    REWARD_DETAIL = #{rewardDetail},
			    OPTIONS = #{option},
			    DELIVERY_REQUEST = #{deliveryRequest},
			    DELIVERY_MONEY = #{deliveryMoney},
			    LIMIT_COUNT = #{limitCount},
			    START_DATE = #{startDate}
	            WHERE REWARD_NO = #{rewardNo}
	        	 AND  PROJECT_NO = #{projectNo}
	</update>
	
	<delete id="deleteReward" parameterType="Reward">
		DELETE FROM REWARD
		WHERE REWARD_NO = #{rewardNo}
	</delete>
	

	<select id="selectRewardList" resultMap="MyRewardResultSet">
		SELECT
			*
		FROM
			REWARD
		WHERE
			PROJECT_NO = #{pNo}
		ORDER BY
			SORT_NO
	</select>
</mapper>


